body{
    display: flex;
    justify-content: center;
}
main{
    width: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    padding-bottom: 20px;
}
.top{
    margin-top: -0.5px;
    background-color: #FFDC40;
    width: 100.5%;
    height: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
input{
    width: 286px;
    border-radius: 10px;
    padding: 5px;
    border-color: lightgray;
    border-style: solid;
}
#add{
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 50%;
    height: 30px;
    border-radius: 50px;
    border-style: none;
    background-color: #833AE0;
    padding-left: 0;
}
#add:hover{
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}
button>div{
    margin-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    background-color: #9953F1;
    width: 18%;
    padding: 2px;
    height: 90%;
    border-radius: 50px;
}
.sorting{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
svg{
    fill: gray;
    width: 22px;
    height: 22px;
}
.sort{
    cursor: pointer;
}
.sort.up{
    display: none;
}
svg:hover{
    width: 21.5px;
    height: 21.5px;
    fill: lightgray;
}
.list{
    list-style: none;
    display: none;
    width: 70%;
    border-radius: 10px;
    padding: 5px;
    border-color: lightgray;
    border-style: solid;
    padding: 20px;
}
li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
p{width: 80%;}
.remove-line{
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: gray;
}
.remove-line:hover{
    width: 19px;
    height: 19px;
    color: lightgray;
}
